
<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython_stdlib.js"></script>
    <title>Game of Life!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body onload="brython(1)">
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- This dropdown is populated with all uploaded files -->
    <form method="POST" action="{{ url_for('game') }}">
      <select id="filedrop" name="filedrop" method="GET" action="/">
        {% for file in files %}
        <option value= {{url_for('upload', filename=file) }}>{{file}}</option>
        {% endfor %}
      </select>
      <button type="submit">Play with this board!</button>
    </form>
    <div id="image">
      <img id="selectedImage" style="width: 128px">
    </div>
    <!-- This changes the image src based on the value of the dropdown -->
    <script>    
      $( document ).ready(function() {
      document.getElementById("selectedImage").src=document.getElementById("filedrop").value;
      });
      $( "select" ) .change(function () {    
      document.getElementById("selectedImage").src=document.getElementById("filedrop").value;  
      });  
    </script>
    <hr>
    <div id ='gboard_div'>
      <img id='gboard' src={{ board }}>
      <button id="board_button">ClickME</button>

    </div>
<script type="text/python">
from browser import bind, document, html

@bind("#board_button", "click")
def change(event):
  display = document['gboard'].style.display
  document['gboard'].style.display = "inline" if display == "none" else "none"

for key, value in document['gboard'].attrs.items():
    document <= key + ": " + value + html.BR()

</script>
  </body>
</html>